default_install_hook_types:
  - pre-commit
  - commit-msg

ci:
    skip: [reset-notebook-execution-counts]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell

    additional_dependencies:
    - tomli

- repo: local
  hooks:
    - id: reset-notebook-execution-counts
      name: Reset Notebook Execution Counts
      entry: python _reset_notebook_execution_counts.py
      language: system
      files: \.ipynb$
